.bg-custom-gradient {
  background: linear-gradient(180deg, #004D61 0%, #FFFFFF 100%);
}

.text-justify {
  text-align: justify;
}

.bg-blue {
  background-color: #004D61 !important;
}

.bg-main {
  background-color: #E4EDE3;
}

html, body {
  @apply w-full h-full;
  @apply text-white; /* Estilo de texto global, se necessário */
}

/* Centraliza o conteúdo */
#__next {
  @apply flex items-center justify-center min-h-screen;
}